<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="AddPayUrl" connectionString="http://api5.xiuxiu888.com/creat_order/"/><!--下单接口API地址 固定-->
    <add name="notify_url" connectionString="http://43.227.218.47:8012/getItem/notify_item_data.aspx"/><!--抽奖购买 支付回调通知地址 固定-->
    <add name="pay_id" connectionString="548905"/><!--支付ID-->
    <add name="key" connectionString="NGRenMJekzxaWjiGhuNCAfs4083clByI"/><!--支付Key-->
    <add name="SQLDBConn" connectionString="server=45.125.46.177,30;uid=BNSChangedsa;pwd=T1BNS001;" /><!--数据库连接IP 账号 密码-->
    <add name="notify" connectionString="database=AliPayCount;" /><!--支付库-->
    <add name="activity" connectionString="database=AchiDB;" /><!--活动库-->
    <add name="moneybl" connectionString="1000"/><!--充值比例 1:moneybl-->
    <add name="zsbl" connectionString="1"/><!--钻石比例 1:zsbl-->
    <add name="cfdh" connectionString="False"/><!--兑换模式 True 单次兑换 False 消耗多次兑换-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" /><!--允许访问-->
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol><!--支持跨域-->
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
